input[type=date]::-webkit-inner-spin-button {
   -webkit-appearance: none;
   display: none;
}

#project {
  margin: 20px;
  background-color: blue;
  padding: 20px;
  color: white;
}

#task {
  margin: 20px;
  background-color: green;
  padding: 20px;
  color: white;
}

#timeline{
  position: absolute
}

/*vis style*/

div.vis-item.vis-range {
    border-style: none;
    border-radius: 12px !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
div.vis-item {
    /*text-align: center;*/
    border-radius: 12px;
    color: #ffffff;
    border-color: none;
    border-width: 0;
    background-color: #23b573;
}
div.div.vis-item.vis-range {
  z-index: 1;
}
div.vis-selected {
    background-color: #3dd992 !important;

}

div.vis-delete {
  visibility: hidden;
}

div.vis-drag-left {
/*.draggingDots {*/
  margin: 8px 10px;
  width: 15px !important;
  height: 15px !important;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 12px !important;
}
div.vis-drag-right {
/*.draggingDots {*/
  margin: 8px 15px;
  width: 15px !important;
  height: 15px !important;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 12px !important;
}







.containTasks {
  height: 20px;
  display: flex;
  justify-content: space-between; 
}




.App {
  text-align: center;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
ul{
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
li{
  width: 45vw;
  margin: 2vw;
}
.project{
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  border: 1px solid black;
  /*border-radius: 2%;*/
  height: 30vh;
}
.project h2{
  margin: 0;
  cursor: pointer;
  text-decoration: underline;
}
.project p{
  margin-top: 5%;
}
.project button{
  margin: 0 auto;
  width: 40%;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
